<tr>
    <td>Ibtisam Anwar</td>
    <td>ibtisamanwar32@gmail.com</td>
    <td>6305234</td>
    <td>
        <a class="btn" href="/update"><i class="fa-regular fa-pen-to-square"></i></a>
        <a class="btn" href="#"><i style="margin-left: 5px; color:red;" class="fa-sharp fa-solid fa-trash"></i></a>
    </td>
</tr>